h2 {
  margin-bottom: 20px;
  color: #2a497b;
  font-size: 24px;
  line-height: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px 20px 20px;
  background-color: white;
  border-radius: 10px;
}

.inputBox {
  position: relative;
}

.errorMsg {
  position: absolute;
  right: 0;
  color: #ff0000;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  width: 320px;
  padding: 8px;
  border: 1px solid #31343e;
  border-radius: 3px;
  font-size: 14px;
  background-color: transparent;
}

.inputWrapper label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #31343e;
  font-size: 14px;
  transition: all 0.4s ease;
}

.inputWrapper input:focus + label,
.inputWrapper input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #31343e;
  background-color: #ffffff;
  padding: 0 6px;
}

.inputWrapper input:focus {
  border: 0;
}

.registerBtn {
  padding: 8px 32px;
  background: linear-gradient(-90deg, #41aae8, #41c5d5);
  border: 0;
  border-radius: 3px;
  color: #31343e;
  font-size: 16px;
  font-weight: 700;
}

.registerBtn:hover,
.registerBtn:focus {
  background: linear-gradient(130deg, #41aae8, #41c5d5);
}

.orLogin {
  display: flex;
  gap: 10px;
  height: 20px;
}

.linkLogin {
  font-weight: 700;
  background-image: linear-gradient(-130deg, #41aae8, #41c5d5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.linkLogin:hover::after,
.linkLogin:focus::after {
  display: block;
  content: '';
  border-top: 1px solid #41aae8;
}